<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST" action="/upload" enctype="multipart/form-data">
      <input type="file" name="file" />
      <Select name="category">
        <option value="Select Category">Select Category</option>
        <option value="personal">Personal</option>
        <option value="shared">Shared</option>

      </Select>
      <button>Submit</button>
    </form>
  </body>
</html>


<!-- a : = 5;

var a : int = 5; -->
